@charset "UTF-8";
/* custom */
section[data-id="1"] {
    background: #eedfa7 url("../img/page1Bg.png") no-repeat left bottom;
    background-size: 100%;;
}

section[data-id="2"] {
    background: #7f89c3 url("../img/page2Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="3"] {
    background: #9d5e7c url("../img/page3Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="4"] {
    background: #6c9288 url("../img/page4Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="5"] {
    background: #e7e3d1 url("../img/page5Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="6"] {
    background: #eff8fa url("../img/page6Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="7"] {
    background: #ad97b2 url("../img/page7Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="8"] {
    background: #96d5cd url("../img/page8Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="9"] {
    background: #505767 url("../img/page9Bg.png") no-repeat left bottom;
    background-size: 100%;
}

section[data-id="10"] {
    background: #efd694;
}

section[data-id="11"] {
    background: #e6d29d;
}

.horizontal .parallax-arrow, .vertical .parallax-arrow {
    background: url("../img/pointer.png");
    background-size: 100%;
    width: 0.0578rem;
    height: 0.0609rem;
}

.musciBtn {
    width: 0.0656rem;
    height: 0.0656rem;
    background: url("../img/music.png") no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0.0312rem;
    right: 0.0312rem;
    z-index: 3000;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.musicOff {
    background: url("../img/music2.png") no-repeat;
    background-size: 100%;
}

.loadingWrap {
    width: 100%;
    height: 100%;
    background: #eedfa7;
    z-index: 999999;
    position: absolute;
}

.load {
    width: 0.3237rem;
    height: 0.1593rem;
    background: url("../img/loading.png") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
}

.dotting {
    display: inline-block;
    min-width: 2px;
    min-height: 2px;
    box-shadow: 2px 0 #ceb06c, 6px 0 #ceb06c, 10px 0 #ceb06c;
    -webkit-animation: dot 4s infinite step-start both;
    animation: dot 4s infinite step-start both;
    *zoom: expression(this.innerHTML = '...'); /* IE7 */
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.dotting:before {
    content: '...';
}

/* IE8 */
.dotting::before {
    content: '';
}

:root .dotting {
    margin-right: 8px;
}

/* IE9+,FF,CH,OP,SF */

@-webkit-keyframes dot {
    25% {
        box-shadow: none;
    }
    50% {
        box-shadow: 2px 0 #ceb06c;
    }
    75% {
        box-shadow: 2px 0 #ceb06c, 6px 0 #ceb06c;
    }
}

@keyframes dot {
    25% {
        box-shadow: none;
    }
    50% {
        box-shadow: 2px 0 #ceb06c;
    }
    75% {
        box-shadow: 2px 0 #ceb06c, 6px 0 #ceb06c;
    }
}

.page1_text1 {
    width: 0.5515rem;
    height: 0.1437rem;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -0.2757rem;
    background: url("../img/page1_1.png") no-repeat;
    background-size: 100%;
    transform: translate3d(0, 2000px, 0);
}

.page1_text2 {
    width: 0.239rem;
    height: 0.1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.1195rem;
    background: url("../img/page1_2.png") no-repeat;
    background-size: 100%;
    transform: translate3d(0, 2000px, 0);

}

.page2_text1 {
    width: 0.3375rem;
    height: 0.1156rem;
    position: absolute;
    left: 50%;
    top: 0.1562rem;
    margin-left: -0.16875rem;
    background: url("../img/page2_1.png") no-repeat;
    background-size: 100%;
    opacity: 0;
}

.page2_text2 {
    width: 0.8859375rem;
    height: 0.1156rem;
    position: absolute;
    left: 50%;
    top: 0.28125rem;
    margin-left: -0.44296875rem;
    background: url("../img/page2_2.png") no-repeat;
    background-size: 100%;
    opacity: 0;
}

.page3_text1 {
    width: 0.3359375rem;
    height: 0.1109375rem;
    position: absolute;
    left: 50%;
    top: 0.09375rem;
    margin-left: -0.16796875rem;
    background: url("../img/page3_1.png") no-repeat;
    background-size: 100%;
}

.page3_text2 {
    width: 0.821875rem;
    height: 0.1265625rem;
    position: absolute;
    left: 50%;
    top: 0.228125rem;
    margin-left: -0.4109375rem;
    background: url("../img/page3_2.png") no-repeat;
    background-size: 100%;
}

.page3_text3 {
    width: 0.215625rem;
    height: 0.0890625rem;
    position: absolute;
    left: 50%;
    top: 0.371875rem;
    margin-left: -0.1078125rem;
    background: url("../img/page3_3.png") no-repeat;
    background-size: 100%;
}

.page4_text1 {
    width: 0.3359375rem;
    height: 0.1109375rem;
    position: absolute;
    left: 50%;
    top: 0.09375rem;
    margin-left: -0.16796875rem;
    background: url("../img/page4_1.png") no-repeat;
    background-size: 100%;
}

.page4_text2 {
    width: 0.821875rem;
    height: 0.121875rem;
    position: absolute;
    left: 50%;
    top: 0.23125rem;
    margin-left: -0.4109375rem;
    background: url("../img/page4_2.png") no-repeat;
    background-size: 100%;
}

.page5_text1 {
    width: 0.340625rem;
    height: 0.11875rem;
    position: absolute;
    left: 50%;
    top: 0.15625rem;
    margin-left: -0.1703125rem;
    background: url("../img/page5_1.png") no-repeat;
    background-size: 100%;
}

.page5_text2 {
    width: 0.909375rem;
    height: 0.1265625rem;
    position: absolute;
    left: 50%;
    top: 0.2890625rem;
    margin-left: -0.4546875rem;
    background: url("../img/page5_2.png") no-repeat;
    background-size: 100%;
}

.page5_text3 {
    width: 0.209375rem;
    height: 0.0875rem;
    position: absolute;
    left: 50%;
    top: 0.428125rem;
    margin-left: -0.1046875rem;
    background: url("../img/page5_3.png") no-repeat;
    background-size: 100%;
}

.page6_text1 {
    width: 0.3234375rem;
    height: 0.1109375rem;
    position: absolute;
    left: 50%;
    top: 0.165625rem;
    margin-left: -0.16171875rem;
    background: url("../img/page6_1.png") no-repeat;
    background-size: 100%;
}

.page6_text2 {
    width: 0.85rem;
    height: 0.13125rem;
    position: absolute;
    left: 50%;
    top: 0.296875rem;
    margin-left: -0.425rem;
    background: url("../img/page6_2.png") no-repeat;
    background-size: 100%;
}

.page7_text1 {
    width: 0.3296875rem;
    height: 0.109375rem;
    position: absolute;
    left: 50%;
    top: 0.14375rem;
    margin-left: -0.16484375rem;
    background: url("../img/page7_1.png") no-repeat;
    background-size: 100%;
}

.page7_text2 {
    width: 0.9484375rem;
    height: 0.1328125rem;
    position: absolute;
    left: 50%;
    top: 0.275rem;
    margin-left: -0.47421875rem;
    background: url("../img/page7_2.png") no-repeat;
    background-size: 100%;
}

.page7_text3 {
    width: 0.2015625rem;
    height: 0.0875rem;
    position: absolute;
    left: 50%;
    top: 0.4140625rem;
    margin-left: -0.10078125rem;
    background: url("../img/page7_3.png") no-repeat;
    background-size: 100%;
}

.page8_text1 {
    width: 0.31875rem;
    height: 0.1234375rem;
    position: absolute;
    left: 50%;
    top: 0.12125rem;
    margin-left: -0.159375rem;
    background: url("../img/page8_1.png") no-repeat;
    background-size: 100%;
}

.page8_text2 {
    width: 0.75625rem;
    height: 0.1390625rem;
    position: absolute;
    left: 50%;
    top: 0.259375rem;
    margin-left: -0.378125rem;
    background: url("../img/page8_2.png") no-repeat;
    background-size: 100%;
}

.page8_text3 {
    width: 0.1984375rem;
    height: 0.084375rem;
    position: absolute;
    left: 50%;
    top: 0.29375rem;
    margin-left: -0.09921875rem;
    background: url("../img/page8_3.png") no-repeat;
    background-size: 100%;
}

.page9_text1 {
    width: 0.396875rem;
    height: 0.121875rem;
    position: absolute;
    left: 50%;
    top: 0.059375rem;
    margin-left: -0.1984375rem;
    background: url("../img/page9_1.png") no-repeat;
    background-size: 100%;
}

.page9_text2 {
    width: 0.7328125rem;
    height: 0.1375rem;
    position: absolute;
    left: 50%;
    top: 0.203125rem;
    margin-left: -0.36640625rem;
    background: url("../img/page9_2.png") no-repeat;
    background-size: 100%;
}

.page10_text1 {
    width: 0.8640625rem;
    height: 0.14375rem;
    position: absolute;
    left: 50%;
    top: 0.153125rem;
    margin-left: -0.43203125rem;
    background: url("../img/page10_1.png") no-repeat;
    background-size: 100%;
}

.page10_text2 {
    width: 0.6484375rem;
    height: 0.1375rem;
    position: absolute;
    left: 50%;
    top: 0.3rem;
    margin-left: -0.32421875rem;
    background: url("../img/page10_2.png") no-repeat;
    background-size: 100%;
}

.page10_text3 {
    width: 0.9171875rem;
    height: 0.728125rem;
    position: absolute;
    left: 50%;
    top: 0.528125rem;
    margin-left: -0.45859375rem;
    background: url("../img/page10_3.png") no-repeat;
    background-size: 100%;
}

.page11_text1 {
    width: 0.81875rem;
    height: 0.1359375rem;
    position: absolute;
    left: 50%;
    top: 0.149375rem;
    margin-left: -0.409375rem;
    background: url("../img/page11_1.png") no-repeat;
    background-size: 100%;
}

.page11_text2 {
    width: 0.503125rem;
    height: 0.06875rem;
    position: absolute;
    left: 50%;
    top: 0.306875rem;
    margin-left: -0.2515625rem;
    background: url("../img/page11_2.png") no-repeat;
    background-size: 100%;
}

.page11_text3 {
    width: 0.6546875rem;
    height: 0.728125rem;
    position: absolute;
    left: 50%;
    top: 0.44375rem;
    margin-left: -0.32734375rem;
}

.page11_text3 img {
    width: 100%;
}

.page11_text4 {
    width: 0.465625rem;
    height: 0.1375rem;
    position: absolute;
    left: 50%;
    top: 1.234375rem;
    margin-left: -0.2328125rem;
    background: url("../img/page11_4.png") no-repeat;
    background-size: 100%;
}

.page11_text5 {
    width: 0.29375rem;
    height: 0.096875rem;
    position: absolute;
    left: 50%;
    top: 0rem;
    margin-left: -0.146875rem;
    background-size: 100%;
}

.mark {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(000, 000, 000, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.figger {
    width: 0.35rem;
    height: 0.2890625rem;
    position: absolute;
    top: 0;
    right: 30px;
    background: url("../img/tips.png") no-repeat;
    background-size: 100%;

}

/*  |xGv00|b7e424a4c2b2783588212849b9434f51 */