/*public*/
body {
    font: 12px/1.5 \5b8b\4f53, tahoma, arial;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    *font-size: 100%;
}

legend {
    color: #000;
}

/*pic scroll*/
#cp_pics_box {
    border: 1px solid #aaa;
    width: 480px;
    position: relative;
    overflow: hidden;
}

#cp_pics_box img {
    vertical-align: middle;
    border: none;
}

#cp_pics_nav {
    width: 52px;
    height: 140px;
    background: #7e1c20 url(../img/nav_bg.gif) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 9999;
}

#cp_pics_nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Black", sans-serif;
    display: block;
    width: 26px;
    height: 28px;
    line-height: 28px;
    float: left;
}

#cp_pics_nav a:hover, #cp_pics_nav a.current {
    color: #f6e50f;
    background: url("../img/bg_index.gif") 50% 50% no-repeat;
}

#cp_pics {
    height: 140px;
}

#cp_pics a {
    position: absolute;
    left: 0;
    top: 0;
}