.auto_width_button {
    float: left;
}

.auto_width_button ul {
    float: left;
    margin-top: 103px;
    margin-left: 40px;
    display: inline;
}

.auto_width_button ul li {
    float: left;
    background: url(../images/demo.png) no-repeat;
    margin: 0 6px;
}

.auto_width_button ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #893601;
    display: inline;
    float: left;
    line-height: 32px;
    margin: 0 0 0 16px;
    overflow: hidden;
}

.auto_width_button ul li a span {
    background: url(../images/demo.png) right 0 no-repeat;
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 0 16px 0 0;
}